<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <div id="app">
        <h1>ToDo List</h1>
        <input @keyup.enter="addTask" v-model="newTask.text" type="text" placeholder="Inserisci una nuova attività">
        <button @click="addTask">Aggiungi alla lista</button>
        <p v-if="true">{{todoList.length}} Non sono presenti elementi da visualizzare</p>
        <ul>
            <li v-for="(item, i) in todoList">
                <!-- <span :class="[ 'classediBase', (item.done) ? 'done' : 'notDone' ]">{{item.text}}</span> -->
                <span :class="{ done: item.done, notDone: !item.done }">{{item.text}}</span>
                <button @click="changeTask(i)">Imposta come {{ item.done ? "da completare" : "completato" }}</button>
                <button @click="removeTask(i)">Rimuovi</button>
            </li>
        </ul>

    </div>

    <script src="./js/main.js"></script>

</body>
</html>
